<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_method.name %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @payment_method.discription %>
</p>

<p>
  <strong>Store:</strong>
  <%= @payment_method.store %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @payment_method.provider %>
</p>

<%= link_to 'Edit', edit_payment_method_path(@payment_method) %> |
<%= link_to 'Back', payment_methods_path %>
