<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @store.url %>
</p>

<p>
  <strong>Seo title:</strong>
  <%= @store.seo_title %>
</p>

<p>
  <strong>Meta discription:</strong>
  <%= @store.meta_discription %>
</p>

<p>
  <strong>Meta keyword:</strong>
  <%= @store.meta_keyword %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @store.currency %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
