<p id="notice"><%= notice %></p>

<h1>Promotion Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promotion_categories.each do |promotion_category| %>
      <tr>
        <td><%= promotion_category.name %></td>
        <td><%= promotion_category.code %></td>
        <td><%= link_to 'Show', promotion_category %></td>
        <td><%= link_to 'Edit', edit_promotion_category_path(promotion_category) %></td>
        <td><%= link_to 'Destroy', promotion_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promotion Category', new_promotion_category_path %>
