<%= form_with(model: product_taxon) do |form| %>
  <% if product_taxon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_taxon.errors.count, "error") %> prohibited this product_taxon from being saved:</h2>

      <ul>
        <% product_taxon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :taxon_id %>
    <%= form.number_field :taxon_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
