<%= form_with(model: tax_rate) do |form| %>
  <% if tax_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tax_rate.errors.count, "error") %> prohibited this tax_rate from being saved:</h2>

      <ul>
        <% tax_rate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :tax_category_id %>
    <%= form.number_field :tax_category_id %>
  </div>

  <div class="field">
    <%= form.label :zone %>
    <%= form.number_field :zone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
