<%= form_with(model: option_type) do |form| %>
  <% if option_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option_type.errors.count, "error") %> prohibited this option_type from being saved:</h2>

      <ul>
        <% option_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
