<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>State:</strong>
  <%= @payment.state_id %>
</p>

<p>
  <strong>Store:</strong>
  <%= @payment.store %>
</p>

<p>
  <strong>Name:</strong>
  <%= @payment.name %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @payment.discription %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
