<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zone.name %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @zone.discription %>
</p>

<p>
  <strong>State:</strong>
  <%= @zone.state_id %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
