<p id="notice"><%= notice %></p>

<h1>Tax Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Discription</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tax_categories.each do |tax_category| %>
      <tr>
        <td><%= tax_category.name %></td>
        <td><%= tax_category.discription %></td>
        <td><%= tax_category.code %></td>
        <td><%= link_to 'Show', tax_category %></td>
        <td><%= link_to 'Edit', edit_tax_category_path(tax_category) %></td>
        <td><%= link_to 'Destroy', tax_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax Category', new_tax_category_path %>
