<%= form_with(model: taxonomy) do |form| %>
  <% if taxonomy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taxonomy.errors.count, "error") %> prohibited this taxonomy from being saved:</h2>

      <ul>
        <% taxonomy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :taxon_id %>
    <%= form.number_field :taxon_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
