<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @taxonomy.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @taxonomy.category_id %>
</p>

<p>
  <strong>Taxon:</strong>
  <%= @taxonomy.taxon_id %>
</p>

<%= link_to 'Edit', edit_taxonomy_path(@taxonomy) %> |
<%= link_to 'Back', taxonomies_path %>
