<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @product.discription %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Meta title:</strong>
  <%= @product.meta_title %>
</p>

<p>
  <strong>Meta discription:</strong>
  <%= @product.meta_discription %>
</p>

<p>
  <strong>Meta keyword:</strong>
  <%= @product.meta_keyword %>
</p>

<p>
  <strong>Tax category:</strong>
  <%= @product.tax_category_id %>
</p>

<p>
  <strong>Varient:</strong>
  <%= @product.varient_id %>
</p>

<p>
  <strong>Option type:</strong>
  <%= @product.option_type_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
